.dart_tool
.git
.gitignore
.idea
.vscode
.github
build
!build/web
frontend
ios
android
test
README.md
.metadata
analysis_options.yaml
devtools_options.yaml
android/.gradle
android/local.properties
coverage
backend/node_modules
