# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
frontend/build/
coverage/

# VS Code
.vscode/

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.symbols
app.*.map.json

# Platform-specific
/android/app/debug
/android/app/profile
/android/app/release
/windows/
/macos/
/linux/